body {
    background-color: #C9EDF7;
    margin-top: 100px;
}

.main {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.bold {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.email {
    font-size: small;
    margin-top: 100px;
}

.big {
    font-size: larger;
}